* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav .navbar-brand {
  font-weight: bolder;
  font-style: italic;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgb(27, 107, 255);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: rgb(27, 107, 255);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/bg4.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .title {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
.hero .title h1 span {
  font-weight: bolder;
  color: rgb(16, 80, 255);
  font-size: 50px;
}

.hero .title h1 {
  font-weight: bolder;
  font-style: italic;
  color: aliceblue;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  mix-blend-mode: difference;
}

.hero .title p {
  color: aliceblue;
}

.hero .title .cta {
  width: 120px;
}

.card {
  display: inline-block;
  margin: 1rem;
  text-align: center;
}

.card-body {
  padding-top: 0;
}

.card-body p {
  text-align: left;
  font-size: 15px;
}
.card-body h5 {
  padding-top: 2px;
}

.carousel-caption {
  bottom: 70vh;
  z-index: 2;
}

.carousel-caption {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 25;
}

.carousel-inner {
  height: 70vh;
}

/* Detail Kategori */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&family=Roboto:wght@500;700;900&display=swap");

.detail {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.img {
  width: 100%;
  display: inline-block;
}

.main-wrapper {
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.product-div {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  border-radius: 3px;
  column-gap: 10px;
}

.product-div-left {
  padding: 20px;
}

.product-div-right {
  padding: 20px;
}

.img-container img {
  width: 200px;
  margin: 0 auto;
}

.hover-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.hover-container div {
  border: 2px solid rgba(252, 160, 175, 0.7);
  padding: 1rem;
  border-radius: 3px;
  margin: 0 4px 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-container div:hover {
  border-color: aqua !important;
}

.hover-container div img {
  width: 50px;
  cursor: pointer;
}

.product-div-right span {
  display: block;
}

.product-name {
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}

.product-price {
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-rating span {
  margin-right: 6px;
}

.product-description {
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}

.btn-groups {
  margin-top: 22px;
}

.btn-groups button {
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-groups button .fas {
  margin-right: 8px;
}

.add-cart-btn {
  background-color: #ff9f00;
  border: 2px solid #ff9f00;
  margin-right: 8px;
}

.add-cart-btn:hover {
  background-color: #fff;
  color: #ff9f00;
}

.buy-now-btn {
  background-color: black;
  border: 2px solid black;
}

.buy-now-btn:hover {
  background-color: #fff;
  color: black;
}

@media screen and (max-width: 992px) {
  .product-div {
    grid-template-columns: 100%;
  }
  .product-div-right {
    text-align: center;
  }
  .product-rating {
    justify-content: center;
  }
  .product-description {
    max-width: 400;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .btn-groups button {
    width: 100%;
    margin-bottom: 10px;
  }
}
